@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using DataAccess.Domain

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link pointer-event" id="myBlogs" onclick="document.getElementById('myBlogs-form').submit()"> My Blogs</a>
    </li>
    <li class="nav-item" style="align-self: center;">
        @if (UserManager.GetUserAsync(User).Result.Avatar != null)
        {
            <img class="rounded-circle" style="width:2.3em;height:2.3em; object-fit:cover;" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.Avatar))">
        }
    </li>
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.LastName</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
    </li>
}
</ul>

<form method="get" asp-action="Index" asp-controller="Post" id="myBlogs-form" hidden="hidden">
    <input type="number" checked name="isMyBlogs" id="isMyBlogs" hidden="hidden" value="1" readonly/>
</form>
